<div class="wrap">  
  <!-- <meta http-equiv="refresh" content="3;url=<%= @post.link %>"> -->
  <div class="show_wrapping">
    <div class="show_intro">
      <!-- <h1><span>"쿠팡으로</span><span>가는 중..."</span></h1> -->
      <h1><span>"<em class="em_01">쿠</em><em class="em_01">팡</em><em class="em_01">으</em><em class="em_04">로</em></span><span><em class="em_05">가</em><em class="em_06">는</em> <em class="em_07">중</em>..."</span></h1>
    </div>
    <div class="show-image">
      <div class="image_box">
        <img src="<%= @post.image %>">
      </div>
    </div>
    <div class="inner">
      <p class="title"><%= @post.title %></p> 
    </div>
  </div>

</div>

